:root 
{
    --white: hsl(0, 0%, 100%);
    --stone-100:hsl(30, 54%, 90%);
    --stone-150:hsl(30, 18%, 87%);
    --stone-600:hsl(30, 10%, 34%);
    --stone-900:hsl(24, 5%, 18%);
    --brown-800:hsl(14, 45%, 36%);
    --rose-801:hsl(332, 51%, 32%,0.2);
    --rose-800:hsl(332, 51%, 32%);
    --rose-50:hsl(330, 100%, 98%);
}

@font-face {
    font-family: outfit;
    src:url('/assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
    
}



 
h2 {
    font-family:"Young Serif",sans-serif;
    font-weight: 600;
    color:var(--brown-800);
}

p { 
    font-family: outfit,sans-serif;
    font-size: 15px;
    margin-block-end: 25px;
}

ul ,ol,  li {
    color: black;
    line-height: 1.5;
    font-family: outfit,sans-serif;
}

ol > li::marker {
    font-weight: bold;
    color: var(--brown-800);
    
}

ol > li {
    padding-left: 20px;
}

ul > li {
    padding-left: 20px;
}


h1 {
   font-family:'Young Serif',sans-serif;
    color:black;
}


body {
    background-color:var(--stone-100);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}

.wrapper {
    background-color:var(--white);
    max-width: 50vw;
    max-height: 100%;
    padding:50px;
    border-radius: 20px;
    margin-block-end: 10px;
}

img {
    border-radius:10px;
    max-width: 100%;
    height: auto;
}


.prep {
    background: var(--rose-801);
    margin-block-end: 20px;
    font-family: outfit,sans-serif;
    font-weight: 400;
    padding:8px;
    font-size: 14px;
    
}

.prep h2 {
    font-family:outfit,sans-serif;
    font-weight: 600;
    color:var(--rose-800);
    opacity: 1;
}



table {
    /* border-bottom:5px solid rebeccapurple; */
    min-width: 100%;
    font-family: outfit,sans-serif;
}



td {
    border-bottom: 2px solid var(--stone-150);
}

/* Opacity for Preparation List 
clean up fonts
*/


.attribution {
        font-size: 11px;
        text-align: center;
        text-decoration: none;
        font-family: outfit,sans-serif;
      }


      .attribution a {
        color: hsl(228, 45%, 44%);
      }